body {
    margin: 0px;
    padding: 0px;
}

div {
    color:black; 
    font-family:Georgia,"Times New Roman",Times,serif;
    width: 100%;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    form-align: center;
}
table{
  width: 100%;
  margin-bottom : .5em;
  text-align: center;
}

.pai {
    border: 0px solid white;
}

.rodapeleft {
    border: 0px solid white;
    font-size:13px;
    width: 100%;
    border: 0px solid black;
    padding: 2px;
    text-align: left;
    form-align: left;
    
}

.rodaperight {
    border: 0px solid white;
    font-size:13px;
    width: 100%;
    border: 0px solid black;
    padding: 2px;
    text-align: right;
    form-align: right;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:"Times New Roman";
    font-size:12px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:"Times New Roman";
    font-size:12px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-1woa{
    background-color:#c0c0c0;
    border-color:#ffffff;
    font-size:12px;
    text-align:center;
    vertical-align:top
}
.tg .tg-6hxq{
    background-color:#efefef;
    border-color:#ffffff;
    font-size:12px;
    text-align:center;
    vertical-align:top
}
.tg .tg-6hwh{
    background-color:#ffffff;
    border-color:#ffffff;
    font-size:12px;
    text-align:center;
    vertical-align:top
}

.tg .tg-6hwc{
    background-color:#ffffff;
    border-color:#ffffff;
    font-size:12px;
    text-align:left;
    vertical-align:top
}
.tg .tg-6hwr{
    background-color:#ffffff;
    border-color:#ffffff;
    font-size:12px;
    text-align:right;
    vertical-align:top
}